@mixin box {
	background: white;
	border: 2px solid black;
	padding: 15px;
	@include roundy;
}

@mixin roundy {
	border-radius: $mooth;
}

@mixin link {
	font-family: monospace;
	font-size: 1.5em;
	text-decoration: none;
	color: black;

}